[Unit]
Description=IPSec policy configuration startup task

[Service]
Type=oneshot
ExecStart=/usr/bin/env setkey -f /etc/ipsec-tools.conf

[Install]
WantedBy=multi-user.target
